   
   
    
    /* HACETE AMIGO */

    // .logo{
    //     margin-left: 30px;
    //     margin-right: 50px;
    //     margin-top: 23px;
    //   }
    //   .nav-item{
    //     margin-left:30px;
    //     text-decoration: none;
    //     background-image: linear-gradient(currentColor, currentColor);
    //     background-position: 0% 100%;
    //     background-repeat: no-repeat;
    //     background-size: 0% 2px;
    //     transition: background-size .3s;
    //   }
      
      
    //   :hover, a:focus {
    //     background-size: 100% 2px;
    //     color: #FF003C;
    //   }

    .haceteamigo{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        
   

    img{


        
        width: 400px;
        text-align: center;
      
        margin-bottom: 40px;
        margin-top:150px; 


    } }


    .amigos {

        display: inline-block;
        text-align: center;
        margin-bottom: 100px;
        padding: 20px;
        margin: 50px;
    }

.tituloamigos{
    
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
    color: #E80E3A;
    
}
    .cajasamigos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 30px;

    }

.cajaamigos1 { 
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #E80E3A; 
    font-size: 15px; 
    font-weight: 200px; 
    text-align: center; 
    
    margin : 20px;
    overflow: hidden; 
    padding: 30px; 
    border-radius: 20PX;
    width: 45%;
    height: 260px;
    border: 2px solid #f8f3f3;}

 .requisitos{

    display: inline-block;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fef8f8; 
    font-size: 300px; 
    text-align: center; 
    overflow: hidden; 
    padding: 10px;
    margin-bottom: 10px;
    
    } 
.asociacionamigos{
color: #E80E3A;
font-size: 20px;


}


@media screen and ( max-width: 768px ){


    .cajasamigos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        padding-bottom: 5px;
        margin-top: 0px;


    }
    .cajaamigos1 { 
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        color: #E80E3A; 
        font-size: 12px; 
        text-align: center; 
        overflow: hidden; 
        padding: 20px; 
        flex-direction: row;
        border-radius: 20PX;
        margin-left: 5px;
        margin-right:5px;
        width: 310px;
        border: 2px solid #f8f3f3;}
    
     .requisitos{
    
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        color: #fef8f8; 
        font-size: 30px; 
        text-align: center; 
        overflow: hidden; 
        width: 200px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
        
        
        } 

}

@media screen and ( max-width: 500px ){

    .logo{
        margin-left: 30px;
        margin-right: 50px;
        margin-top: 23px;
        margin-bottom: 10px;
        width: 200px;
      }

    .haceteamigo{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        
   

    img{


        
        width: 280px;
        text-align: center;
        padding-top: 100px;
        margin-bottom: 40px;
        margin-top:20px; 
        margin-right: 2px;


    } }


    .amigos {

        display: inline-block;
        text-align: center;
        margin-bottom: 0;
        margin: 0;
       
       
    }

.tituloamigos{
    
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: #E80E3A;
    
}
    .cajasamigos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5px;


    }

.cajaamigos1 { 
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #E80E3A; 
    font-size: 13px; 
    text-align: center; 
    overflow: hidden; 
    padding: 30px; 
    border-radius: 20PX;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    border: 2px solid #f8f3f3;}

 .requisitos{

    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #fef8f8; 
    font-size: 30px; 
    text-align: center; 
    overflow: hidden; 
    width: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    
    
    } 
.asociacionamigos{
color: #E80E3A;
font-family: 'Roboto', sans-serif;
font-size: 20px; 
text-align: center;

margin: 10px;



}


}


