*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 23px;
  margin-bottom: 10px;
  width: 300px;
}
.nav-item{
  margin-left:30px;
  margin-bottom: 10pxñlkñ;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}


:hover, a:focus {
  background-size: 100% 2px;
  color: #FF003C;
}

.carousel{


  margin-top: 85px;
}

@font-face {

    font-family: helvetica;
    
    src: url(Helveticabold.ttf);
    
    }

     
  
    .cajacovid { 
        font-family: helvetica; 
       
        font-size: 40px; 
        color: #DE222B;
        text-align: center; 
        align-items: center;
        width: auto;
        margin: 30px;
        padding: 20px; 
        border-radius: 20PX;
        display: flex; 
        justify-content: center;
        text-decoration: underline;
        align-items: center;
        
    
        &:hover{ 
           
            color: #c2b4b7;
            
            }
    
      }
      .contenedor_contacto{ 
    
        display: flex;
        justify-content: space-between;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
        color: #DE222B; 
        font-size: 60px; 
        font-weight: 400px; 
        margin:  50px; 
        overflow: hidden; 
        padding: 20px; 
        border-radius: 20PX;
        text-align: center;
        border: 2px solid #fbfbfc;
        align-items: center;
        margin-top: 100px;

        h1{

          padding: 30px;
        }
       


    .caja2 a button


        {
            display: inline-block;
            border-radius: 10px;
            background-color: #ca2525;
            color: #DE222B;
            font-family: helvetica;
            text-align: center;
            font-size: 250px;
            padding: 10px;
            width: 300px;
            transition: all 0.5s;
            cursor: pointer;
            margin-top: 60px;
            border-color:  #f9fbff;
            margin-left: 13px;
          
            &:hover{

            background-color: #edf1f5;
          }
          }}





          
      @media screen and ( max-width: 768px){

        .cajacovid { 
           
           
            font-size: 25px; 
            width: auto;
            margin: 30px;
            padding: 20px; 
           
            

        
          }

      }
    
    .navegation__portada{

margin-top: 75px;


    }
        .contenedor_contacto{ 
    
            display: flex;
            justify-content: space-between;
            font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
            color: #DE222B; 
            font-size: 30px; 
            font-weight: 400px; 
            
            margin:  50px; 
            overflow: hidden; 
            padding: 20px; 
            border-radius: 20PX;
            text-align: center;
            border: 2px solid #fbfbfc;
            align-items: center;
            margin-top: 100px;
           }
    
    
        .caja2 a button
    
    
            {
                display: inline-block;
                border-radius: 10px;
                background-color: #0e0e0e;
                color: #DE222B;
                font-family: helvetica;
                text-align: center;
                font-size: 25px;
                padding: 10px;
                width: 300px;
                transition: all 0.5s;
                cursor: pointer;
                margin-top: 60px;
                border-color:  #f9fbff;
                margin-left: 13px;
              
                &:hover{
    
                background-color: #edf1f5;
              }
              }
    
       .cajaprecios{font-family: helvetica,sans-serif; 
        width: 300px;
        display: flex;
        /* grid-area: main; */
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: helvetica;
        color: #DE222B; 
        font-size: 40px; 
        font-weight: 400px;  
        overflow: hidden; 
        padding: 10px; 
        border-radius: 20PX;
        border: 2px solid #fef9f9;
        margin: 0 auto;
        
    
    }

    
    @media screen and ( max-width: 500px) {
        .contenedor_contacto{ 
    
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 30px; 
            font-weight:100px; 
            text-align: center; 
            margin:  30px; 
            padding: 10px; 
            border-radius: 20PX;
           
            margin-top: 100px;
           }
    
    
        .caja2 a button
    
    
            {
                
                font-size: 18px;
                padding: 10px;
                width: 200px;
                transition: all 0.5s;
                cursor: pointer;
                margin-top: 30px;
                border-color:  #f9fbff;
                margin-left: 20px;
              
               
              }
    
       .cajaprecios{

        width: 300px;
        font-size: 30px; 
        font-weight: 400px;  
        overflow: hidden; 
        padding: 10px; 
        border-radius: 10px;
    }
    .textoprecios{
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
       color: #DE222B; 
       font-size: 20px; 
       font-weight: 400; 
       text-align: center;
       display: inline-block;
       margin:  50px; 
       overflow: hidden; 
       padding: 20px; 
    }
    }
    
       .textoprecios{
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
       color: #DE222B; 
       font-size: 20px; 
       font-weight: 400; 
       text-align: center;
       display: inline-block;
       margin:  50px; 
       overflow: hidden; 
       padding: 20px; 
    }
    
  
    
  
       
      
        .cajaredes__logos {


        .programa{
          width: 400px;
          display: flex;
          /* grid-area: main; */
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: helvetica;
          background-color: #DE222B;
          color: #080808; 
          font-size: 20px; 
          font-weight: 400px;  
          overflow: hidden; 
          padding: 10px; 
          border-radius: 10PX;
          border: 2px solid #070606;
          margin: 0 auto; 
          
          &:hover{
    
            background-color: #edf1f5;
            color: #DE222B; 
          }}
   
    a{
       text-decoration: none;
    }
        
   
    
}
 



.cineclub { 

    width: 600px;
    display: flex;
     grid-area: main; 
    justify-content: center;
    text-align: center;
    font-family: helvetica;
    color: #ae1018; 
    font-size: 40px; 
     font-weight: 400px;  
    margin-right: 2em;
    margin-left: 2em; 
    overflow: hidden; 
    padding: 10px; 
    border-radius: 20PX;
    border: 2px solid #fef9f9;
   
    margin: 0 auto;
    
    margin-top: 50px;
    
   
    
}

@media screen and ( max-width: 768px){
    .cineclub { 

        width: 400px;
        display: flex;
         grid-area: main; 
        justify-content: center;
        text-align: center;
        font-family: helvetica;
        color: #E80E3A; 
        font-size: 25px; 
         font-weight: 400px;  
        margin-right: 2em;
        margin-left: 2em; 
        overflow: hidden; 
        padding: 10px; 
        border-radius: 10PX;
        border: 2px solid #fef9f9;
       
        margin: 0 auto;
        
        margin-top: 50px;
        
       
        
    }

}







    

.contenedor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;

    



     
figure{
    position:relative;
     cursor: pointer;
     width: 320px;
     overflow: hidden;
     border-radius: 6px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
     margin-left: 20px;

 img{
     width: 320px;
     transition: all 400ms ease-out;
     will-change: transform;
     filter:alpha(opacity=70);
     opacity: 0.8;
     transition: all 1s;
     color: transparent;  
      
  

} 
    
        
        
    .capa{
     position: absolute;
     top: 0;
     width: 320px;
     height: 100%;
     background: rgba(50, 12, 14, 0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
    
    
    
   

    
 h3{
     color: #fff;
     font-weight: 400;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
      margin-top: 30px; }
      
    
  
 
 p{
     color: #fff;
     font-size: 15px;
     line-height: 1.5;
     width: 100%;
     max-width: 220px;
     margin: auto;
   } 


} 
} 
} 


   
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3{
  margin-top: 20px;
  margin-bottom: 10px;
}
.contenedor figure:hover > img{
  transform: scale(1.3);
}


@media screen and ( max-width: 768px){







    
  .header__logo{

      margin-left: 50px;
    }}
  
   
   
  
    
.footer{  
  display: flex;
  background-color: #181717;
  flex-wrap: wrap;
  grid-area: footer;
  width: 100%;
  margin-top: 50px;
  
  img{
    margin-top: 200px;
  }



.cajafooter__texto{

  display: inline-block;
  flex-wrap: wrap;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
   justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  
  }
  


  

   .redesfooter{

    margin-right: 10px;



 img{

  width: 20px;
  height: 18px;
  margin-right:16px;
 
  
 
}

}
  
  .lista__footer {
    text-decoration: none;
    display: flex;
    
      display: inline;
      display: flexbox;
      flex-wrap: wrap;
      color: #DE222B;
      margin-top: 20PX;
      margin-right: 900px;
      margin-left: 25px;
   
   

    a{
        text-decoration: none;
       
     
      color: #f9f7f7;
      margin-right: 30px;
       
      
      
       &:hover{
        
        color: #FF003C !important;
      }
      }
    }}
     
      




  @media screen and ( max-width: 768px){
   .logo{
    width: 600px;
   }
      
    .footer{  
     
      
      img{
        margin-top: 20px;
      }

      .cajafooter__texto{

       
         justify-content: center;
        align-items: center;
        margin-top: 20px;
       
        .p1{
          margin-left:100px!important;
        }

        .p2{
          font-size: 16px;
        }

        .p3{
          display: none;
        }
        
        }
      
         .redesfooter{
      
          margin-right: 10px;
      
      
      
       img{
      
        width: 18px;
        height: 16px;
        margin-right:16px;
       
        
       
      }
      
      }

      .lista__footer {
        text-decoration: none;
        display: flex;
        
          display: inline;
          display: flexbox;
          flex-wrap: wrap;
          color: #DE222B;
          margin-top: 200PX;
          margin-right:200px;
          margin-left: 30px ;
       
       
    
        a{
            text-decoration: none;
           
         font-size: 16px;
          color: #f9f7f7;
          margin-right: 15px;
           
          
          
           &:hover{
            
            color: #FF003C ;
          }
          }
        }
       }
           }



           @media screen and ( max-width: 500px){

          
            .footer{  
             
              
              img{
                margin-top: 20px;
              }
        
              .cajafooter__texto{
        
               
                 justify-content: center;
                align-items: center;
                margin-top: 20px;
               
                .p1{
                  margin-right: 30px;
                }
        
                .p3{
                  display: none;
                }
                
                }
              
                 .redesfooter{
              
                  margin-left:40px;
              
              
              
               img{
              
                width: 16px;
                height: 14px;
                margin-right:16px;
               
                
               
              }
              
              }
        
              .lista__footer {
                text-decoration: none;
                display: flex;
                
                  display: inline;
                  display: flexbox;
                  flex-wrap: wrap;
                  color: #DE222B;
                  margin-top: 20PX;
                  margin-right:30px;
                  margin-left: 40px;
               
               
            
                a{
                    text-decoration: none;
                   
                 font-size: 15px;
                  color: #f9f7f7;
                  margin-right: 15px;
                   
                  
                  
                 
                  }
                }
               }
                   }
      
    
      

    




