/* seccion de pelicula */


.gridbodypelicula{
    
    display: grid;
    
    grid-template-columns: 1fr 3fr  ; 
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-areas: 
    
    "sectionpelicula sidebar"
    "footer footer ";
 
    
}



.sectionpelicula {

    grid-area: sectionpelicula;
    display: flex;
    flex-direction: row;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 230px;
    margin-top: 150px;
   
   
   
   
   


    img{

        
        width: 400px;
        }
    
        .p{
         margin-right: 190px;
           color: #EB2828;
            
            text-align: left;
            font-size: 14px;
            margin-bottom: 50px;}}





.sidebar {
    display: flex;
    margin-bottom: 100px;
    margin-right: 0px; 
    flex-direction: row;
    grid-area: sidebar;
    justify-content: flex-start;
    margin-top: 20px;


.textopelicula{

    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 130px;
    margin-left: 30px;
    margin-right: 200px;
    




 img {

    
    width: 500px;
    margin-left: 10px;
  
    }
    
p{
    margin-left: 10px;
   color: #EB2828;
    text-align: center;
    text-align: justify;
    font-size: 15px;}


}
}



  
 
  
  

.figuremain figcaption {
    font-family: roboto;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    font-weight:  20px;
    line-height: 30px;
    color: #E80E3A;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    
    
}


@media screen and ( max-width: 768px ){


    
.gridbodypelicula{
    
    
    
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    
    "sectionpelicula"
    "sidebar"
    "footer";
   
 
    
}



.sectionpelicula {

   
    flex-direction:column;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 120px;
    margin-right: 0px;



    
        .p{
         margin-right: 10px;
            text-align: center;
            margin-bottom: 10px;}}





.sidebar {
  
    margin-bottom: 10px;
    margin-right: 10px; 
    flex-direction: column;



.textopelicula{

    
    flex-direction: column;

    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    




 img {

    
    width: 350px;
    margin-right:360px;
  
    }
    



}
}

.logo{
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 23px;
    margin-bottom: 10px;
    width: 200px;
  }


}




@media screen and ( max-width:500px )
{


    
    
    
    .sectionpelicula {
    
      
    
    
    
        img{
    
            
            width:300px;
            }
        
            .p{
           
                font-size: 14px;
               }}
    
    
    
    
    
    .sidebar {
      
      
     
        margin-top: 20px;
       
    
    
    .textopelicula{
    
       
        
    
    
    
    
     img {
    
        
        width: 290px;
        margin-right:150px;
      
        }
        
    p{
        
       
        text-align: center;
        text-align: justify;
        font-size: 14px;}
    
    
    }
    }

    }
