.sobrenosotros { 
        

        
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: px;
    
    img {


    width: 400px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
    margin-top:20px;
   
    }
    
}


.titulonosotros{

    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    color: #E80E3A;
    text-decoration: underline;
    text-decoration:wavy;

}

.sobrenosotrostexto {

    margin: 20px;
    padding: 30px;
    display: inline-block;
    text-align: center;
    color: #E80E3A;


 p {

  font-size: 18px;
    text-align: center;
    

img {

  
    text-align: center;
    margin-left: 30px;
    margin: 60px;
    width:"600px" ;
    height:"400px";


} 
} 
} 