/* Home o pagina principal */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* .bodyindex {
    background-color: #1E1F1F;
}



.portada_inicio{

    display: flex;
    justify-content: center;
    align-items: center;
}
    
  

.portada_inicio img{

max-width: 100%;

   

  
} */

/* .portada_inicio{

    width: 100%;
    
} */




      
         

.collapse navbar-collapse {

    
    background-color: #c83434;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
}
 
    .header li:hover{
        transform: scale(1.15); 
        color: #f0f2f4;
        
    }


    .header li  { color: #FF0000; } /* CSS link color (red) */
    .header li:hover { color: #00FF00; } /* CSS link hover (green) */

    .navbar-toggler-icon{

     background-color: white;

    }


 

/* .menu{

    width: 1000px;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    color: #E80E3A;
    font-size: 20px;
    font-style: normal;
    font-family:'Roboto', sans-serif;  
    text-decoration: none;
    margin-top: 60px;
    flex-wrap: wrap;
    margin-top: 20px;
    
}   */

.submenu{

    width: 1519px;
    height: 50px;
    background-color: #b8abab;
 

}

 
@font-face {

    font-family: helvetica;
    
    src: url(Helveticabold.ttf);
    
    }

     
@font-face {

    font-family: "notoserif";
    
    src: url(NotoSerif-Bold.ttf);
    
    }



.main{
    grid-area: main;
    width: 1550px;

}





.cineclub { 

    width: 600px;
    display: flex;
    /* grid-area: main; */
    justify-content: center;
    text-align: center;
    font-family: helvetica;
    color: #E80E3A; 
    font-size: 40px; 
    /* font-weight: 400px;  */
    /* margin-right: 2em;
    margin-left: 2em; */
    overflow: hidden; 
    padding: 10px; 
    border-radius: 20PX;
    border: 2px solid #fef9f9;
    /* width: auto; */
    margin: 0 auto;
    
    margin-top: 50px;
    
   
    
}


.poster__main
{
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: roboto;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    font-weight:  20px;
    line-height: 30px;
    color: #E80E3A;
    margin: 10px;
    
    
    
    
}



.poster__img{

   
    padding: 30px;
    width: 360px;
    transition: 1s;
    margin-top: 20px;
    filter:alpha(opacity=70);
    opacity: 0.7;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    color: transparent;
    text-align: center;
    
}


.contenedor{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    
    
}
.contenedor figure{
   position:relative;
    cursor: pointer;
    width: 320px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    margin-left: 20px;
}
.contenedor figure img{
    width: 320px;
    transition: all 400ms ease-out;
    will-change: transform;
    filter:alpha(opacity=70);
    opacity: 0.8;
    transition: all 1s;
    color: transparent;
    
    
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 320px;
    height: 100%;
    background: rgba(50, 12, 14, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    margin-bottom:10px;
}




 
.texto{

    display: inline-block;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #E80E3A; 
    font-size: 20px; 
    text-align:justify;
    margin-left: 30px;

    

}



.cajacovid { 
    font-family: helvetica; 
   
    font-size: 40px; 
    color: #E80E3A;
    text-align: center; 
    align-items: center;
    width: auto;
    margin: 30px;
    padding: 20px; 
    border-radius: 20PX;
    display: flex; 
    justify-content: center;
    text-decoration: underline;
    align-items: center;
    }

    .cajacovid:hover { 
       
        color: #c2b4b7;
        
        }

  


    .contenedor_contacto{ 

        display: flex;
        justify-content: space-between;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
        color: #E80E3A; 
        font-size: 50px; 
        font-weight: 400px; 
        text-align: center; 
        margin:  50px; 
        overflow: hidden; 
        padding: 20px; 
        border-radius: 20PX;
        text-align: center;
        border: 2px solid #fbfbfc;
        align-items: center;
       }


    .caja2 a button


        {
            display: inline-block;
            border-radius: 10px;
            background-color: #0e0e0e;
            color: #E80E3A;
            font-family: helvetica;
            text-align: center;
            font-size: 25px;
            padding: 10px;
            width: 300px;
            transition: all 0.5s;
            cursor: pointer;
            margin-top: 60px;
            border-color:  #f9fbff;
            margin-left: 13px;
          }
          .caja2 a button:hover{

            background-color: #edf1f5;
          }
          

   .cajaprecios{font-family: helvetica,sans-serif; 
    width: 300px;
    display: flex;
    /* grid-area: main; */
    justify-content: center;
    text-align: center;
    font-family: helvetica;
    color: #E80E3A; 
    font-size: 40px; 
    /* font-weight: 400px;  */
    /* margin-right: 2em;
    margin-left: 2em; */
    overflow: hidden; 
    padding: 10px; 
    border-radius: 20PX;
    border: 2px solid #fef9f9;
    /* width: auto; */
    margin: 0 auto;

}

   .textoprecios{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
   color: #E80E3A; 
   font-size: 30px; 
   font-weight: 400; 
   text-align: center;
   display: inline-block;
   margin:  50px; 
   overflow: hidden; 
   padding: 20px; 
}

.pdf { 
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px; 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    display:flex; 
    align-items:center;
    vertical-align: middle;
    
}


/* seccion de pelicula */


.gridbodypelicula{
    
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-areas: 
    
    "mainpelicula mainpelicula sidebar sidebar"
    "footer footer footer footer"; */
    
}


.mainpelicula{
    grid-area: mainpelicula;
    display: flex;
    margin-top: 70px;
   
}

.sectionpelicula {


    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 30px;


}

.figuremain figcaption {
    font-family: roboto;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    font-weight:  20px;
    line-height: 30px;
    color: #E80E3A;
    margin-left: 50px;
    margin-right: 0px;
    padding: 10px;
    
    
}




.sectionpeliculaimg{

    padding: 10px;
    width: 400px;
    margin-left: 50px;
    margin-top: 30px;


}

.textopelicula{

    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}



.textopelicula img {

    
    width: 500px;
    margin-right: 20px;
    margin-top: 30px;
    
    
    /* margin-bottom: 300px; */ 
}




.textopelicula p{
    
   
    margin-left: 10px;
    margin-right: 100px;
    text-align: justify;
    color: #f9f1f3;

}

.sidebar {
    margin-bottom: 100px;
    margin-right: 200px;
    margin-top: 30px;

    grid-area: sidebar;
}


.footer{  
    display: flex;
    background-color: #0c0b0b;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    grid-area: footer;
    /* margin-top: 30px; */
}



.cajafooter__logo img{
   text-align: center;
  
}

.cajafooter__texto{

    display: inline-block;
    flex-direction: column;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #E80E3A; 
    font-size: 20px; 
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;

}

/* .cajaredes { 
    display: inline-block;
    font-family: helvetica; 
    background-color: #E80E3A;
    color: #131111; 
    overflow: hidden; 
    padding: 10px; 
    /* border-radius: 20PX; */
    display: flex; 
    align-items: center;
    /* border: 2px solid #fdfafa; */
    flex-wrap: wrap;
    flex-direction: column;
   
} */


    .cajaredestexto { 
        font-family: helvetica ;
        color: #080707; 
        font-size: 50px; 
        font-weight: 400; 
        margin-left: 20px; 
        overflow: hidden; 
        padding: 10px; 

       
        }

    .cajaredes__logos img{
        width: 100%;
       
    }


/* PAGINA DE CONTACTO  */



.imagencontacto{
margin-top: 25px;
}


.soy{

    text-align: left;
    font-size: 30px;
    
}

.textarea {
    
    width:800px;
    height:300px;
    border: 4px solid #0c0b0b;
    border-radius: 10px;
    bottom: 125px;
    text-align: center;
    margin-left: 350px;
    line-height: 250px ;
    font-size: 50px;
    color: #E80E3A;
    

} 

.cajacontacto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    grid-area: uno;
}

.dos{
    grid-area: fdos;
}

.contacto { 
    
    display: inline-block;
    align-items: center;
    color: #0c0b0b; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 20PX;
    width: 1200px;  
    margin: 30px;
    border: 1px solid #0c0b0b;} 

   

    .enviar 


        {
            display: inline-block;
            border-radius: 10px;
            background-color: #E80E3A;
            border: none;
            color: #FFFFFF;
            text-align: center;
            margin-top: 10px;
            font-size: 28px;
            padding: 5px;
            width: 300px;
            transition: all 0.5s;
            cursor: pointer;
            /* position: relative; */
            border: solid 1px #010101;
            margin-left: 800px;
           
            
          }

form

    {

        display: grid;
        grid-template-columns: (1fr 1fr 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      } 

.formulario{
        display: inline-block;
        border-radius: 10px;
        background-color: #f0f2f4;
        border: none;
        color: #E80E3A;
        text-align: center;
        font-size: 28px;
        padding: 5px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        margin-right: 100px;
        border: solid 3px #0c0b0b;
        

}

.portadacontacto {

    display: flex;
    justify-content: center;
}

.portadacontacto img{ 
    width: 1500px;
    
        text-align: center;
        
        margin-bottom: 30px;
        margin-top:20px;
    }


    



       /* en cartelera estiloscss  */

       /* .gridbodycartelera{
    
        display: grid;
        grid-template-columns: 1fr 1fr  1fr ; 
        grid-template-rows: repeat(2, auto);
        grid-column-gap: px;
        grid-row-gap: px;
        grid-template-areas: 
         
        "main__encartelera main__encartelera main__encartelera "
        "footer footer footer ";} */

        .cartelera{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            flex-wrap: wrap;
            
            
        }
        .cartelera figure{
           position:relative;
            cursor: pointer;
            width: 380px;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
            margin-left: 20px;
            margin-bottom: 30px;
        }
        .cartelera figure img{
            width: 380px;
            transition: all 400ms ease-out;
            will-change: transform;
            filter:alpha(opacity=70);
            opacity: 0.8;
            transition: all 1s;
            color: transparent;
           
            
            
        }
        .cartelera figure .capa{
            position: absolute;
            top: 0;
            width: 380px;
            height: 100%;
            background: rgba(50, 12, 14, 0.7);
            transition: all 400ms ease-out;
            opacity: 0;
            visibility: hidden;
           text-align: center;
           
        }
        .cartelera figure:hover > .capa {
            opacity: 1;
            visibility: visible;
        }
        .cartelera figure:hover > .capa h3{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .cartelera figure .capa h3{
            color: #fff;
            font-weight: 400;
            margin-bottom: 120px;
            transition: all 400ms ease-out;
             margin-top: 30px;
        }
        .cartelera figure .capa p{
            color: #fff;
            font-size: 15px;
            line-height: 1.5;
            width: 100%;
            max-width: 220px;
            margin: auto;
            margin-bottom:10px;
        }
        
        

    .main__cartelera{


        grid-area: maincartelera;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
      
        
       
    }
     


    .encartelera{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .encartelera img{

        width:1500px;
    
        text-align: center;
        
        margin-top:20px;
        margin-bottom:50px;
        text-decoration: underline;
        
    }

     
      .poster__encartelera { 
        

        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 10px;
        
        
        }
        
   
    
    .poster__encartelera img

    {
        margin-bottom: 100px;
        width: 400px;
        /* filter:alpha(opacity=70);
        opacity: 0.7;
        transition: all 1s;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        color: transparent;
        text-align: center; */
     
  
    }
    
    /* HACETE AMIGO */



    .haceteamigo{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .haceteamigo img{

        margin: 50px;


    }


    .amigos {

        display: inline-block;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 100px;
        padding: 20px;
        margin: 50px;
    }

.tituloamigos{
    
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
    color: #E80E3A;
    
}
    .cajasamigos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 30px;

    }

.cajaamigos1 { 
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #E80E3A; 
    font-size: 16px; 
    font-weight: 200px; 
    text-align: center; 
    margin:  auto; 
    margin : 20px;
    overflow: hidden; 
    padding: 30px; 
    border-radius: 20PX;
    width: 45%;
    height: 200px;
    border: 2px solid #0c0b0b;}

 .requisitos{

    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #0c0b0b; 
    font-size: 50px; 
    text-align: center; 
    overflow: hidden; 
    width: 45%;
    padding: 10px;
    margin-bottom: 20px;
    
    } 
.asociacionamigos{
color: #E80E3A;


}
   

    
    .sobrenosotros { 
        

        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: px;
        
        
        }
        
   
    
    .sobrenosotros img

    {
        width: 1400px;
    
        text-align: center;
        
        margin-bottom: 30px;
        margin-top:20px;
       
         
  
    }
 

   .titulonosotros{

        text-align: center;
        font-size: 50px;
        margin: 20px;
        padding: 30px;
    }
    
    .sobrenosotrostexto{
    
        margin: 20px;
        padding: 30px;
        display: inline-block;
        text-align: center;
    } 
    
/* TABLET DISEÑO index */

    @media screen and ( max-width: 768px)
    {



        .logo img{
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: 250px;


        }
        .menu {

            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30PX;
        

       }

       .menu a{
        margin: 5px;
        font-size: 10px;
       }

       .logo{

        justify-content:center;
        align-items: center;
        text-align: center;
       }
       .contenedor_contacto{

        font-size: 40px;
        flex-direction: column;
        justify-content: center;
        font-weight: 30px;
        align-items: center;

       }
       .caja2 a button{

        font-size: 25px;

       }

       .cajacovid {
        font-size: 30px;
       }

       .cineclub{
        font-size: 30px;
       }

.cajaprecios{
    font-size: 40px;
    padding: 15px;
    
    

    
}
 
 .textoprecios{
    
   font-size: 25px; 
   padding: 15x; 
 
    margin-right: 50px;
    margin-bottom: 20px;
    
    
    
}





.poster__encartelera img {

    width: 200px;

    
}


.encartelera img {

    margin-right: px;
    width:700px;
    height: 210px;

}
}



MOBILE index

@media screen and ( max-width: 500px ) {

/* .gridbody{
    
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        grid-template-rows: repeat(1, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas: 
        
        "main main "
        "footer footer ";

} */

.logo img{
    
    align-items: center;
    text-align: center;
    margin-left: 120px;


}

.cajaprecios{
    font-size: 30px;
    padding: 5px;
    width: 200px;
 
}
.cajacovid {
    font-size: 20px;
   }




.cajaredestexto { 

   
    font-size: 20px; 
    font-weight: 400; 
    text-align: center; 
    margin:  30px; 
    overflow: hidden; 
    padding: 0; 
    border-radius: 10PX;
    
   
}

.cajaredes__logos img{

    width: 150px;
}

.contenedor_contacto{

    font-size: 30px;
    font-weight: 30px;
    align-items: center;

   }
   .caja2 a button{

    font-size: 19px;

   }

   .encartelera img {

    margin-right: px;
    width:450px;
    height: 160px;

}
/* seccion de pelicula */


.gridbodypelicula{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-areas: 
    
    "mainpelicula mainpelicula sidebar sidebar"
    "footer footer footer footer";
    
}


.mainpelicula{
    grid-area: mainpelicula;
    display: flex;
    flex-direction: column;
   
}

.sectionpelicula {


    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin-right: 20px} */}

.figuremain figcaption {
    font-family: roboto;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    font-weight:  20px;
    line-height: 30px;
    color: #E80E3A;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    
    
}




.sectionpeliculaimg{

    padding: 10px; 
    width: 300px;
     margin-left: 0px;
    margin-top: 30px;


}

.textopelicula{

    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: c;
    align-items: center;
    flex-wrap: wrap;
}



.textopelicula img {

    
    width: 350px;
    margin-right: 120px; 
     margin-top: 30px;
    
    
    
    /* margin-bottom: 300px; */ 
}




.textopelicula p{
    
   
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-align: justify;
    font-size: 14px;


}

.sidebar {
    display: flex;
    margin-bottom: 100px;
    margin-right: 0px; 
    flex-direction: row;
    grid-area: sidebar;
}
}






