@charset "UTF-8";
/* PAGINA DE CONTACTO  */
.portadacontacto {
  display: flex;
  justify-content: center; }
  .portadacontacto img {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 70px; }

.cajacontacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .cajacontacto .contacto {
    display: inline-block;
    align-items: center;
    color: #0c0b0b;
    overflow: hidden;
    padding: 15px;
    border-radius: 20px;
    width: 1150px;
    margin: 30px;
    border: 1px solid #e80e3a; }
    .cajacontacto .contacto form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 0;
      grid-row-gap: 0;
      grid-template-areas: "uno uno dos dos "  "footer footer footer"; }
    .cajacontacto .contacto .uno {
      grid-area: uno; }
      .cajacontacto .contacto .uno .formulario {
        display: inline-block;
        border-radius: 10px;
        background-color: #f0f2f4;
        color: #e80e3a;
        text-align: center;
        font-size: 28px;
        padding: 5px;
        width: 350px;
        margin-right: 100px;
        border: solid 3px #0c0b0b; }
      .cajacontacto .contacto .uno .soy {
        text-align: left;
        font-size: 30px;
        color: #e80e3a; }
    .cajacontacto .contacto .dos {
      grid-area: dos; }
      .cajacontacto .contacto .dos textarea {
        width: 600px;
        height: 300px;
        border: 4px solid #0c0b0b;
        border-radius: 10px;
        bottom: 125px;
        text-align: center;
        margin-left: 500px;
        line-height: 250px;
        font-size: 50px;
        color: #0c0b0b; }
      .cajacontacto .contacto .dos button {
        display: inline-block;
        border-radius: 10px;
        background-color: #e80e3a;
        border: none;
        color: #ffffff;
        text-align: center;
        margin-top: 10px;
        font-size: 28px;
        padding: 5px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        position: relative;
        border: solid 1px #010101;
        margin-left: 800px; }

@media screen and (max-width: 500px) {
  .logo {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 23px;
    margin-bottom: 10px;
    width: 200px; }
  .portadacontacto img {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px; }
  .cajacontacto {
    flex-direction: row;
    flex-wrap: wrap; }
    .cajacontacto .contacto {
      padding: 10px;
      width: 800px;
      margin: 10px; }
      .cajacontacto .contacto form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "uno" "dos" "footer"; }
        .cajacontacto .contacto form .uno .formulario {
          border: none;
          font-size: 20px;
          width: 400px;
          transition: all 0.5s;
          cursor: pointer;
          margin-right: 10px; }
        .cajacontacto .contacto form .uno .soy {
          color: white; }
        .cajacontacto .contacto form .dos textarea {
          display: inline-block;
          border-radius: 10px;
          background-color: #f0f2f4;
          border: none;
          color: #e80e3a;
          text-align: center;
          font-size: 16px;
          padding: 100px;
          width: 450px;
          height: 100px;
          margin-left: 0px;
          margin-right: 0px;
          border: 4px solid #0c0b0b;
          border-radius: 10px;
          font-size: 20px;
          color: #ae2222;
          line-height: 20px; }
        .cajacontacto .contacto form .dos button {
          font-size: 20px;
          width: 450px;
          transition: all 0.5s;
          cursor: pointer;
          border: solid 1px #010101;
          margin-left: 0px;
          margin-right: 0px; } }

.new-check {
  display: flex;
  align-items: center;
  color: #e80e3a; }
  .new-check .soy {
    color: #e80e3a; }
  .new-check div {
    width: 30px;
    height: 30px;
    background-color: #fbf7fa;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin: 5px;
    border: 4px solid #E80E3A; }
  .new-check input[type="checkbox"] {
    display: none; }
    .new-check input[type="checkbox"]:checked ~ div {
      background-color: #fbf7fa;
      border: 2px solid #E80E3A; }
      .new-check input[type="checkbox"]:checked ~ div:after {
        content: "";
        width: 13px;
        height: 6px;
        margin-top: -3px;
        border-left: 3.5px solid #0d0d0e;
        border-bottom: 3.5px solid #131314;
        transform: rotate(-45deg); }

@media screen and (max-width: 768px) {
  .portadacontacto img {
    width: 350px;
    height: auto;
    padding-top: 100px;
    margin-bottom: 30px; }
  .cajacontacto .contacto {
    padding: 15px;
    border-radius: 20px;
    width: 800px; }
    .cajacontacto .contacto form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      margin: 1.5rem 0;
      grid-template-areas: "uno" "dos" "footer"; }
    .cajacontacto .contacto .uno .formulario {
      width: 600px;
      margin-left: 30px; }
    .cajacontacto .contacto .uno .soy {
      margin-left: 10px; }
    .cajacontacto .contacto .dos textarea {
      width: 650px;
      margin-left: 2px; }
    .cajacontacto .contacto .dos button {
      font-size: 35px;
      padding: 5px;
      width: 300px;
      margin-left: 330px; } }

/* HACETE AMIGO */
.haceteamigo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .haceteamigo img {
    width: 400px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 150px; }

.amigos {
  display: inline-block;
  text-align: center;
  margin-bottom: 100px;
  padding: 20px;
  margin: 50px; }

.tituloamigos {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  color: #E80E3A; }

.cajasamigos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 30px; }

.cajaamigos1 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #E80E3A;
  font-size: 15px;
  font-weight: 200px;
  text-align: center;
  margin: 20px;
  overflow: hidden;
  padding: 30px;
  border-radius: 20PX;
  width: 45%;
  height: 260px;
  border: 2px solid #f8f3f3; }

.requisitos {
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #fef8f8;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px; }

.asociacionamigos {
  color: #E80E3A;
  font-size: 20px; }

@media screen and (max-width: 768px) {
  .cajasamigos {
    padding-bottom: 5px;
    margin-top: 0px; }
  .cajaamigos1 {
    font-size: 12px;
    padding: 20px;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    width: 310px; }
  .requisitos {
    display: inline-block;
    font-size: 30px;
    overflow: hidden;
    width: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px; } }

@media screen and (max-width: 500px) {
  .logo {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 23px;
    margin-bottom: 10px;
    width: 200px; }
  .haceteamigo img {
    width: 280px;
    padding-top: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 2px; }
  .amigos {
    margin-bottom: 0;
    margin: 0; }
  .tituloamigos {
    font-size: 25px;
    margin-bottom: 10px; }
  .cajasamigos {
    flex-direction: column;
    padding-bottom: 5px; }
  .cajaamigos1 {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px; }
  .requisitos {
    font-size: 30px;
    width: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  .asociacionamigos {
    text-align: center;
    margin: 10px; } }

.sobrenosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; }
  .sobrenosotros img {
    width: 280px;
    margin-top: 100px;
    margin-bottom: 40px; }

.sobrenosotrostexto {
  margin: 20px;
  padding: 30px;
  display: inline-block;
  text-align: center;
  color: #E80E3A; }
  .sobrenosotrostexto h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    color: #E80E3A;
    text-decoration: underline;
    text-decoration: wavy; }
  .sobrenosotrostexto img {
    text-align: center;
    margin: 30px;
    width: 600px;
    height: 400px; }

@media screen and (max-width: 500px) {
  .sobrenosotrostexto img {
    margin: 5px;
    width: 380px;
    height: 250px; }
  p {
    font-size: 14px;
    text-align: center; } }

.encartelera {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center; }
  .encartelera img {
    width: 400px;
    margin-top: 100px;
    margin-bottom: 70px; }

.cartelera {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap; }

.contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap; }
  .contenedor .estreno {
    margin-left: 25px;
    width: 80px; }
  .contenedor .peliculaestreno {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 500px; }
  .contenedor .peliculanoestreno {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px; }
  .contenedor .peliculaestreno, .contenedor .peliculanoestreno {
    position: relative;
    cursor: pointer;
    width: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }
    .contenedor .peliculaestreno img, .contenedor .peliculanoestreno img {
      width: 400px;
      transition: all 400ms ease-out;
      will-change: transform;
      filter: alpha(opacity=70);
      opacity: 0.8;
      transition: all 1s;
      color: transparent; }
    .contenedor .peliculaestreno .poster6, .contenedor .peliculanoestreno .poster6 {
      margin-top: 20px; }
    .contenedor .peliculaestreno .poster7, .contenedor .peliculanoestreno .poster7 {
      margin-top: 20px; }
    .contenedor .peliculaestreno .poster6, .contenedor .peliculanoestreno .poster6 {
      margin-top: 20px; }
    .contenedor .peliculaestreno .capa, .contenedor .peliculanoestreno .capa {
      position: absolute;
      top: 0;
      width: 400px;
      height: 100%;
      background: rgba(50, 12, 14, 0.7);
      transition: all 400ms ease-out;
      opacity: 0;
      text-align: center;
      margin: auto; }
      .contenedor .peliculaestreno .capa h3, .contenedor .peliculanoestreno .capa h3 {
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
        margin-top: 30px; }
      .contenedor .peliculaestreno .capa p, .contenedor .peliculanoestreno .capa p {
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        text-align: center; }

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.contenedor figure:hover > .capa h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

@media screen and (max-width: 500px) {
  .logo {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 23px;
    margin-bottom: 10px;
    width: 200px; }
  .encartelera img {
    width: 280px; }
  .contenedor .peliculaestreno {
    width: 330px; }
  .contenedor .peliculanoestreno {
    width: 330px; }
  .contenedor .peliculaestreno, .contenedor .peliculanoestreno {
    width: 330px;
    margin-left: 20px;
    margin: 20px;
    margin-top: 20px; }
    .contenedor .peliculaestreno img, .contenedor .peliculanoestreno img {
      width: 330px; }
    .contenedor .peliculaestreno .capa, .contenedor .peliculanoestreno .capa {
      width: 330px; }
      .contenedor .peliculaestreno .capa p, .contenedor .peliculanoestreno .capa p {
        color: #fff;
        font-size: 13px;
        line-height: 1.5;
        text-align: center; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body1 {
  background-color: #1A1919; }

body2 {
  background-color: #fffafa; }

.footer {
  display: flex;
  display: inline;
  background-color: #1A1919;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .footer img {
    margin-top: 20px;
    text-align: center;
    width: 100%; }
  .footer .lista__footer {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    flex-wrap: wrap;
    color: #DE222B;
    margin-top: 40PX;
    margin-right: 950px;
    margin-left: 45px;
    top: 500px; }
    .footer .lista__footer .lista {
      text-decoration: none;
      font-size: 20px;
      margin-right: 15px;
      color: #f1f1f1; }
      .footer .lista__footer .lista:hover {
        color: #FF003C; }
  .footer .redesfooter {
    display: flex;
    margin-left: 40px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    bottom: 300px; }
    .footer .redesfooter img {
      width: 20px;
      height: 18px;
      margin-right: 16px; }
  .footer .cajafooter__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #faf5f6;
    flex-direction: row; }
    .footer .cajafooter__texto .derechos {
      font-size: 18px;
      margin-right: 40px; }
    .footer .cajafooter__texto .informacion {
      font-size: 18px;
      margin-right: 40px;
      color: #DE222B; }
    .footer .cajafooter__texto .desarrollado {
      font-size: 18px; }

.logo {
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 23px;
  margin-bottom: 10px;
  width: 300px; }

.nav-item {
  margin-left: 30px;
  margin-bottom: 10pxñlkñ;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: #f9f7f7; }

:hover, a:focus {
  background-size: 100% 2px;
  color: #FF003C; }

.carousel {
  margin-top: 85px; }

@font-face {
  font-family: helvetica;
  src: url(Helveticabold.ttf); }

.navbar {
  background-color: #0c0b0b; }

.header__logo {
  margin-left: 50px; }

.cajaprecios {
  width: 300px;
  display: flex;
  grid-area: main;
  justify-content: center;
  text-align: center;
  font-family: helvetica;
  color: #ae1018;
  font-size: 40px;
  font-weight: 400px;
  margin-right: 2em;
  margin-left: 2em;
  overflow: hidden;
  padding: 10px;
  border-radius: 20PX;
  border: 2px solid #fef9f9;
  margin: 0 auto; }

.cajacovid {
  font-family: helvetica;
  font-size: 40px;
  color: #DE222B;
  text-align: center;
  align-items: center;
  width: auto;
  margin: 30px;
  padding: 20px;
  border-radius: 20PX;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  align-items: center; }
  .cajacovid:hover {
    color: #c2b4b7; }

.contenedor_contacto {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  overflow: hidden;
  padding: 20px;
  border-radius: 20PX;
  text-align: center;
  border: 2px solid #fbfbfc;
  align-items: center;
  margin-top: 100px; }
  .contenedor_contacto .ayuda {
    text-align: left; }
    .contenedor_contacto .ayuda .ayudatexto {
      font-size: 50px;
      text-align: left;
      margin-right: 600px;
      font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
      color: #DE222B; }
  .contenedor_contacto .botonayuda a button {
    display: inline-block;
    border-radius: 10px;
    background-color: #181717;
    color: #DE222B;
    font-family: helvetica;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 60px;
    border-color: #f9fbff;
    margin-left: 13px; }
    .contenedor_contacto .botonayuda a button:hover {
      background-color: #edf1f5; }

@media screen and (max-width: 768px) {
  .contenedor_contacto {
    flex-direction: column;
    margin-left: 100px; }
    .contenedor_contacto .ayuda {
      margin-right: 10px;
      text-align: center;
      font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
      color: #DE222B; }
      .contenedor_contacto .ayuda .ayudatexto {
        font-size: 35px;
        margin-top: 20px;
        margin-right: 0px; }
    .contenedor_contacto .botonayuda a button {
      font-size: 25px;
      padding: 10px;
      width: 400px;
      transition: all 0.5s;
      cursor: pointer;
      margin-top: 30px;
      margin-left: 13px;
      background-color: #181717;
      font-size: 20px; }
    .contenedor_contacto .cajacovid {
      font-size: 25px; }
  .navegation__portada {
    margin-top: 75px; } }

@media screen and (max-width: 500px) {
  .contenedor_contacto {
    flex-direction: column;
    font-size: 30px;
    font-weight: 500px;
    margin: 30px;
    padding: 10px;
    border-radius: 20PX;
    margin-top: 100px;
    margin-right: 15px;
    margin-left: 15px; }
    .contenedor_contacto .ayuda {
      text-align: center;
      color: #DE222B; }
      .contenedor_contacto .ayuda .ayudatexto {
        font-size: 25px;
        margin-top: 20px;
        margin-right: 0px;
        text-align: center; }
    .contenedor_contacto .botonayuda a button {
      font-size: 20px;
      padding: 10px;
      width: 300px;
      margin-top: 30px;
      margin-left: 0px; }
  .textoprecios {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #DE222B;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    margin: 50px;
    overflow: hidden;
    padding: 20px; } }

.textoprecios {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #DE222B;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  margin: 50px;
  overflow: hidden;
  padding: 20px; }

.cajaredes__logos .programa {
  width: 400px;
  display: flex;
  /* grid-area: main; */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: helvetica;
  background-color: #DE222B;
  color: #080808;
  font-size: 20px;
  font-weight: 400px;
  overflow: hidden;
  padding: 10px;
  border-radius: 10PX;
  border: 2px solid #070606;
  margin: 0 auto; }
  .cajaredes__logos .programa:hover {
    background-color: #edf1f5;
    color: #DE222B; }

.cajaredes__logos a {
  text-decoration: none; }

.cineclub {
  width: 600px;
  display: flex;
  grid-area: main;
  justify-content: center;
  text-align: center;
  font-family: helvetica;
  color: #ae1018;
  font-size: 40px;
  font-weight: 400px;
  margin-right: 2em;
  margin-left: 2em;
  overflow: hidden;
  padding: 10px;
  border-radius: 20PX;
  border: 2px solid #fef9f9;
  margin: 0 auto;
  margin-top: 50px; }

@media screen and (max-width: 768px) {
  .cineclub {
    width: 400px;
    display: flex;
    grid-area: main;
    justify-content: center;
    text-align: center;
    font-family: helvetica;
    color: #E80E3A;
    font-size: 25px;
    font-weight: 400px;
    margin-right: 2em;
    margin-left: 2em;
    overflow: hidden;
    padding: 10px;
    border-radius: 10PX;
    border: 2px solid #fef9f9;
    margin: 0 auto;
    margin-top: 50px; } }

.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap; }
  .contenedor figure {
    position: relative;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    margin-left: 20px; }
    .contenedor figure img {
      width: 350px;
      transition: all 400ms ease-out;
      will-change: transform;
      filter: alpha(opacity=70);
      opacity: 0.8;
      transition: all 1s;
      color: transparent; }
    .contenedor figure .capa {
      position: absolute;
      top: 0;
      width: 350px;
      height: 100%;
      background: rgba(50, 12, 14, 0.7);
      transition: all 400ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .contenedor figure .capa h3 {
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
        margin-top: 30px; }
      .contenedor figure .capa p {
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto; }

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.contenedor figure:hover > .capa h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

.contenedor figure:hover > img {
  transform: scale(1.3); }

@media screen and (max-width: 768px) {
  .contenedor figure {
    width: 320px;
    overflow: hidden; }
    .contenedor figure img {
      width: 320px; }
    .contenedor figure .capa {
      width: 320px; }
  .header__logo {
    margin-left: 50px; }
  .footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column; }
    .footer .lista__footer {
      text-decoration: none;
      display: flex;
      display: inline;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20PX;
      margin-right: 10px;
      margin-left: 25px; }
      .footer .lista__footer .lista {
        text-decoration: none;
        font-size: 20px;
        margin-right: 30px;
        color: #f8fcf7; }
        .footer .lista__footer .lista:hover {
          color: #FF003C !important; }
    .footer .redesfooter {
      margin-right: 10px; }
      .footer .redesfooter img {
        width: 20px;
        height: 18px;
        margin-right: 16px; }
    .footer .cajafooter__texto {
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      flex-direction: column; }
      .footer .cajafooter__texto .derechos {
        font-size: 15px;
        margin-right: 0px; }
      .footer .cajafooter__texto .informacion {
        font-size: 15px;
        margin-right: 0px; }
      .footer .cajafooter__texto .desarrollado {
        font-size: 15px;
        display: none; } }

@media screen and (max-width: 500px) {
  .cajaprecios {
    width: 250px; }
  .contenedor figure {
    width: 300px;
    overflow: hidden; }
    .contenedor figure img {
      width: 300px; }
    .contenedor figure .capa {
      width: 300px; }
  .cajacovid {
    font-size: 25px; }
  .footer {
    flex-direction: column; }
    .footer .lista__footer {
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      color: #f7f2f2;
      margin-top: 20PX;
      margin-right: 30px;
      margin-left: 40px; }
      .footer .lista__footer .lista {
        text-decoration: none;
        font-size: 18px;
        margin-right: 15px;
        color: #f2f5f7; }
    .footer .redesfooter {
      margin-left: 40px;
      font-size: 13px; }
      .footer .redesfooter img {
        width: 16px;
        height: 14px;
        margin-right: 16px; }
    .footer .cajafooter__texto {
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
      .footer .cajafooter__texto .desarrollado {
        display: none;
        font-size: 13px; }
      .footer .cajafooter__texto .informacion {
        font-size: 13px; } }

/* seccion de pelicula */
.gridbodypelicula {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-areas: "sectionpelicula sidebar" "footer footer "; }

.sectionpelicula {
  grid-area: sectionpelicula;
  display: flex;
  flex-direction: row;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: 230px;
  margin-top: 150px; }
  .sectionpelicula img {
    width: 400px; }
  .sectionpelicula .p {
    margin-right: 190px;
    color: #EB2828;
    text-align: left;
    font-size: 14px;
    margin-bottom: 50px; }

.sidebar {
  display: flex;
  margin-bottom: 100px;
  margin-right: 0px;
  flex-direction: row;
  grid-area: sidebar;
  justify-content: flex-start;
  margin-top: 20px; }
  .sidebar .textopelicula {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 130px;
    margin-left: 30px;
    margin-right: 200px; }
    .sidebar .textopelicula img {
      width: 500px;
      margin-left: 10px; }
    .sidebar .textopelicula p {
      margin-left: 10px;
      color: #EB2828;
      text-align: center;
      text-align: justify;
      font-size: 15px; }

.figuremain figcaption {
  font-family: roboto;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  font-weight: 20px;
  line-height: 30px;
  color: #E80E3A;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px; }

@media screen and (max-width: 768px) {
  .gridbodypelicula {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "sectionpelicula" "sidebar" "footer"; }
  .sectionpelicula {
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 120px;
    margin-right: 0px; }
    .sectionpelicula .p {
      margin-right: 10px;
      text-align: center;
      margin-bottom: 10px; }
  .sidebar {
    margin-bottom: 10px;
    margin-right: 10px;
    flex-direction: column; }
    .sidebar .textopelicula {
      flex-direction: column;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px; }
      .sidebar .textopelicula img {
        width: 350px;
        margin-right: 360px; }
  .logo {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 23px;
    margin-bottom: 10px;
    width: 200px; } }

@media screen and (max-width: 500px) {
  .sectionpelicula img {
    width: 300px; }
  .sectionpelicula .p {
    font-size: 14px; }
  .sidebar {
    margin-top: 20px; }
    .sidebar .textopelicula img {
      width: 290px;
      margin-right: 150px; }
    .sidebar .textopelicula p {
      text-align: center;
      text-align: justify;
      font-size: 14px; } }

/*Creamos el bucle para usar los valores del mapa*/
.img-pelicula1 {
  tamano: 1500px; }

.img-pelicula2 {
  tamano: 320px; }

.img-pelicula3 {
  tamano: 250px; }

.img-pelicula4 {
  tamano: 340px; }

.cajas, .cajas__precios, .cajas__cineclub {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: helvetica;
  color: #E80E3A;
  font-size: 40px;
  font-weight: 400px;
  overflow: hidden;
  padding: 10px;
  border-radius: 20PX;
  border: 2px solid #fef9f9;
  margin: 0 auto; }

.cajas__precios {
  width: 300px; }

.cajas__cineclub {
  width: 200px; }

.boton {
  display: inline-block;
  border-radius: 10px;
  background-color: #0e0e0e;
  color: #E80E3A;
  font-family: helvetica;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  border-color: #f9fbff; }

.titulos {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  color: #E80E3A; }
